#home{
  width : 993px;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

#home>figure{
  width : calc(25% - 1em);
  padding : 10px;
  border : 3px solid #d5d5d5;
  margin : 0 0 1em;
  box-sizing: border-box;
  text-align: center;
}

#home>figure>img{
  width : 100%;
  margin-bottom : 10px;
}

#home dl dt{
  font-weight: bold;
  margin-bottom :5px;
}

#home dl dd{
  margin-bottom: 5px;
  font-size: 14px;
}

#home dl button{
  background-color: yellowgreen;
  border : 1px solid #d5d5d5;
  color : #fff;
  padding : 3px 5px;
}

#home dl>dd:last-child{
  margin-bottom : 0;
}