nav{
  background-color: #008000;
  padding : 22px 0;
  margin-bottom : 50px;
}

nav>ul{
  width : 993px;
  /* background-color: rgb(198, 198, 215); */
  margin : 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
}


nav>ul>li>a{
  color:#fff;
  display: flex;
  align-items: center; 
  font-size: 45px;
}